beautifulsoup4==4.12.3
tqdm==4.66.4
requests==2.31.0
pytesseract==0.3.10
opencv-python==4.10.0.82
pillow==10.3.0
python-docx==1.1.0
PyPDF2==3.0.1
pdf2image==1.17.0
lxml==5.2.1
python-magic==0.4.27
tika==2.6.0
